USE [ThiTracNghiem]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 22-Mar-21 19:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[MaMon] [nvarchar](50) NOT NULL,
	[MaCauHoi] [nvarchar](50) NOT NULL,
	[CauHoi] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DapAn] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_CauHoi] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC,
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhSachSV]    Script Date: 22-Mar-21 19:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachSV](
	[MaSV] [nvarchar](50) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[Lop] [nvarchar](50) NULL,
	[MatKhau] [int] NULL,
 CONSTRAINT [danhsach_pk] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 22-Mar-21 19:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[MaSV] [nvarchar](50) NOT NULL,
	[MaMon] [nvarchar](50) NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonThi]    Script Date: 22-Mar-21 19:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonThi](
	[MaMon] [nvarchar](50) NOT NULL,
	[TenMon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuanTri]    Script Date: 22-Mar-21 19:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTri](
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[CauHoi] ([MaMon], [MaCauHoi], [CauHoi], [A], [B], [C], [D], [DapAn], [TrangThai]) VALUES (N'HQTCSDL', N'A1', N'Câu lệnh SQL nào cho phép sắp xếp tất cả các sách theo giá từ cao đến thấp?', N'SELECT ID_SACH, TEN_SACH, GIA FROM THONGTIN_SACH ORDER BY GIA DESC;', N'SELECT ID_SACH, TEN_SACH, GIA FROM THONGTIN_SACH SORT BY GIA DESC;', N'SELECT ID_SACH, TEN_SACH, GIA FROM THONGTIN_SACH SORT BY GIA ASC;', N'SELECT ID_SACH, TEN_SACH, GIA FROM THONGTIN_SACH ORDER BY GIA ASC;', N'A', 1)
INSERT [dbo].[CauHoi] ([MaMon], [MaCauHoi], [CauHoi], [A], [B], [C], [D], [DapAn], [TrangThai]) VALUES (N'HQTCSDL', N'A10', N'Trong SQL, làm thế nào có thể trả về tất cả các bản ghi từ bảng "Persons" được sắp xếp giảm dần theo "FirstName"?', N'SELECT * FROM Persons ORDER BY FirstName DESC', N'SELECT * FROM Persons SORT BY ''FirstName'' DESC', N'SELECT * FROM Persons SORT ''FirstName'' DESC', N'SELECT * FROM Persons ORDER FirstName DESC', N'A', 1)
INSERT [dbo].[CauHoi] ([MaMon], [MaCauHoi], [CauHoi], [A], [B], [C], [D], [DapAn], [TrangThai]) VALUES (N'HQTCSDL', N'A2', N'Theo dõi bảng dưới đây, câu lệnh SQL nào sẽ tìm thấy số tiền doanh thu bán hàng của mỗi cửa hàng?', N'SELECT ID_CUAHANG, SUM(DOANH_THU) FROM BANHANG GROUP BY ID_CUAHANG;', N'SELECT ID_CUAHANG, SUM(DOANH_THU) FROM BANHANG;', N'SELECT ID_CUAHANG, SUM(DOANH_THU) FROM BANHANG ORDER BY ID_CUAHANG;', N'SELECT ID_CUAHANG, SUM(DOANH_THU) FROM BANHANG HAVING UNIQUE ID_CUAHANG;', N'A', 1)
INSERT [dbo].[DanhSachSV] ([MaSV], [Ho], [Ten], [Lop], [MatKhau]) VALUES (N'AT150101', N'VŨ TRƯỜNG', N'AN', N'AT15A', 5409558)
INSERT [dbo].[DanhSachSV] ([MaSV], [Ho], [Ten], [Lop], [MatKhau]) VALUES (N'AT150102', N'VŨ TRẦN HOÀNG', N'ANH', N'AT15A', 24052882)
INSERT [dbo].[DanhSachSV] ([MaSV], [Ho], [Ten], [Lop], [MatKhau]) VALUES (N'AT150104', N'HỒ VIỆT', N'BẮC', N'AT15A', 2073443)
GO
INSERT [dbo].[KetQua] ([MaSV], [MaMon], [Diem]) VALUES (N'1', N'1', 1)
INSERT [dbo].[KetQua] ([MaSV], [MaMon], [Diem]) VALUES (N'10', N'10', 10)
INSERT [dbo].[KetQua] ([MaSV], [MaMon], [Diem]) VALUES (N'11111111', N'HQTCSDL', 2)
INSERT [dbo].[MonThi] ([MaMon], [TenMon]) VALUES (N'HQTCSDL', N'	Hệ quản trị cơ sở dữ liệu')
INSERT [dbo].[QuanTri] ([TaiKhoan], [MatKhau]) VALUES (N'admin', N'123456')
